Datas/estimated/*
Datas/estimated_cross/*
Datas/estimated_cross_backup/*
Datas/sonify/*
MIREXresults/*
__pycache__/*
chainer2.0/*
chordino/*
convnet_model24/*
logs/*
*.wav
*.zip
*.model
!fullcnn_crossentropy_6000.model
!nblstm_crf.model
*.png
*.npy
*.npz
*.so
*.sf2
